<?xml version="1.0" encoding="utf-8"?>
<manifest package="cn.woblog.testloadimage"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="cn.woblog.testloadimage.MyGlideModule"
            android:value="GlideModule"/>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ListActivity">
        </activity>
        <activity android:name=".SpeedActivity">
        </activity>
        <activity
            android:name=".CustomTargetActivity"
            android:label="@string/title_activity_custom_target"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".CircleImageActivity">
        </activity>
        <activity android:name=".LifeCycleActivity">
        </activity>
    </application>

</manifest>
